@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top,#49a09d, #5f2c82);
    }

    section#login {
        width: 90vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 40%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to top,#49a09d, #5f2c82);
    }
    
    section#login {
        width: 990px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    #formulário > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

    #formulário > h1 {
        font-size: 2em;
    }
}