@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    background: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#login > #imagem {
    background: #5f2c82 url(../imagens/omori.gif) no-repeat center center;
    background-size: cover;
    height: 200px;
    display: block;

}

#login > #formulário {
    display: block;
    padding: 10px;

}